ch01/.ipynb_checkpoints
ch02/.ipynb_checkpoints
ch03/.ipynb_checkpoints
ch04/.ipynb_checkpoints
ch05/.ipynb_checkpoints
ch06/.ipynb_checkpoints
ch07/.ipynb_checkpoints
ch08/.ipynb_checkpoints
ch09/.ipynb_checkpoints
ch10/.ipynb_checkpoints
ch11/.ipynb_checkpoints
ch12/.ipynb_checkpoints
ch13/.ipynb_checkpoints